[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-vagrant = "*"
python-terraform = "*"
pyyaml = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
